:root {
    --green:#3EF278 ;
    --blue:#00B5FF;
    --red:#FF9100 ;
}

body {
    margin: 0;
    border: 0;
    padding: none;
    background-color: black;
    font-family:monospace;
    font-weight:bolder;
}

.gametitle {
    color:white;
    position: absolute;
    top:10%;
    width: 50%;
    left: 25%;
    text-align: center;
}
.gametitle:hover {color: var(--red);}

@media (orientation: landscape) {
    #mainframe {
        background-color:black;
        width: 100vh;
        height: 100vh;
        margin:auto;
        /*left: 25vw;*/ 
        position: relative;
        font-size: 2vh;
    }
}

@media (orientation: portrait) {
    #mainframe {
        position:relative;
        height:100vw;
        width:100vw;
        left: 0;
        font-size: 2vw;
    }
}

button {
    font-size: 100%;
    font-family: monospace;
}

/* Login box */
#loginbox {
    background-color: black;
    width: 100%;
    height: 100%;
}

.loginbox {
    width: 33.333%;
    height: 33%;
    position:absolute;
    border-color: white;
}

.loginbox:hover {background-color: var(--blue);}
.loginbox:active {background-color: var(--green);}

#newgame {left: 0%; top: 37%;}
#loadgame {left: 33.333%; top: 37%;}
#exitgame {left: 66.666%; top: 37%;}

#ngsel {
    position: relative;
    left: 0%;
    top: 37%;
    width: 33.333%;
    height: 33%;
    color: white;
}
#ngsel select {
    height: 15%;
    font-size: 90%;
}
#ngsel input {
    height: 15%;
}
#ngsel button {
    height: 15%;
}

#lgsel {
    position: relative;
    left: 33.333%;
    top: 37%;
    width: 33.333%;
    height: 33%;
    color: white;
}

.boxlogin {
    float:left;
    width: 100%;
    text-align: center;
}

#teamlist option:active {
    background-color: var(--green);
    color: black;
}

#start_game:hover {
    background-color: var(--blue);
}
#start_game:active {
    background-color: var(--red);
}

#hint {
    color:white;
    font-size: 70%;
    text-align: center;
    position: absolute;
    top: 95%;
    width: 80%;
    left: 10%;
}

/* Menu Box */
#menubox {
    background-color: black;
    width: 15%;
    height: 100%;
    float:left
}

.menubutton {
    width: 90%;
    height: 10%;
    float:left;
    margin-left: 5%;
    margin-top:  5%;
}

#runfixture {background-color: var(--red);}
#runfixture:hover {background-color: var(--blue);}
#runfixture:active {background-color: var(--green);}
#dummybutton {background-color: var(--red); display:none}

.menubutton:hover {background-color: var(--blue);}
.menubutton:active {background-color: var(--green);}

/* Data Fields */
#dataleft {
    color:white;
    font-size: 70%;
    overflow:auto;
    margin: 0;
    line-height: 50%;
    width: 60%;
}

#dataright {
    background-color: grey;
    overflow:auto;
    width: 40%;
}


/* Game box */
#infofield {
    width: 85%;
    height: 15%;
    float:left;
    color:white;
    background-color: black;
}

#teamname {
    width: 25%;
    height:25%;
    float:left;
    margin:0;
    line-height: 200%;
    text-align: center;
}

#teamname:hover {
    color: purple;
    background-color: blue;
}

#powerbox {
    width: 50%;
    background-color:var(--blue);
    height: 25%;
    float:left;
}

#powerbox p {
    float:left;
    height: 100%;
    text-align: center;
    line-height: 100%;
    margin: 0;
    color:black;
}

#pbox1 {background-color: var(--red); width: 33%}
#pbox2 {background-color: var(--green); width: 33%}
#pbox3 {background-color: var(--blue); width: 33%}

#manager {
    width: 100%;
    height: 25%;
    float:left;
    margin: 0;
    line-height: 200%;
    vertical-align: middle;
}

#season {
    width: 100%;
    height: 33.3%;
    float:left;
    margin: 0;
    line-height: 200%;
    vertical-align: middle;
}

#databox {
    width: 85%;
    height: 40%;
    float:left;
    background-color: black;
}

#datatop {
    width: 100%;
    float:left;
    height: 10%;
    background-color: black;
    display:none;
}
#dataleft{
    width: 60%;
    float:left;
    height:100%;
    background-color:black;
    text-align: center;
}

#dataright{
    width: 40%;
    float:left;
    height:100%;
    background-color: black;
}

#matchbox {
    width: 85%;
    height: 45%;
    float:left;
    background-color: white;
    color:white;
}
.team-pow-box {
    width: 30%;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 1%;
    float:left
}
.team-pow-box div {
    height: 100%;
}
#pitch-sectors {
    width: 100%;
    height: 50%;
    background-color: red;
}
#pitch-sectors div {
    height: 100%;
    float:left;
}

#pitchbox {
    float:left;
    width: 59%;
    height: 98%;
    margin:0.5%;
}

#matchfield {
    float:left;
    background-color:grey;
    width: 100%;
    height: 60%;
}
.matchfield-div {
    width: 10%;
    height: 100%;
    text-align: center;
    float:left;
    margin-left: 2%;
    margin-right: 2%;
}
.matchfield-div:first-child {
    margin-left: 10%;
}
#matchfield button {
    width: 100%;
    border-radius: 100%;
    border-width: 5;
    opacity: 0;
    border-style: solid;
}

.fieldpart {
    float:left;
    height: 98%;
    margin: 0.5%;
    background-color: black;
}

#fieldleft {width: 32%;}
#fieldcenter {width: 33%;}
#fieldright {width:32%;}

.teamsbox {
    background-color: grey;
    float:left;
    top: 0%;
    width: 100%;
    height:20%;
    font-size: 80%;
    line-height: 300%;
}
.teamname {
    width: 40%;
    float:left;
    text-align: center;
}
.teamresult {
    width: 10%;
    float:left;
    text-align: center;
}

#eventbox {
    text-align: center;
    float:left;
    width: 40%;
    background-color: grey;
    height: 100%;
    font-size: 70%;
    line-height: 200%;
}
#eventbox p {
    text-align: center;
    height: 5%;
    float:left;
    width: 100%
}

.ebgroup1 {
    display:none;
}
#minutebox {
    background-color: red;
    height: 10%;
    background-color: var(--blue);
}
#minutebox-prog {
    height: 100%;
    background-color: #3EF278;
    width: 50%;
}

#match_runner {
    width: 100%;
    height: 10%;
}

#tactic_change {
    width: 50%;
    height: 7%;
    margin-left: 25%;
}

#tactic_selection {
    width: 40%;
    height: 10%;
    margin: 0;
    border: 0;
    float:left;
    text-align: center;
}

#start_match {
    width: 60%;
    height: 10%;
    float:left;
}
#start_match:hover {
    background-color: var(--blue);
}
#start_match:active {
    background-color: var(--red);
}
#resume_match {
    width: 60%;
    height: 10%;
    float:left;
}
#resume_match:hover {
    background-color: var(--blue);
}
#resume_match:active {
    background-color: var(--red);
}

.statbox {
    background-color: var(--green);
    width: 100%;
    height: 5%;
    float:left;
}

.statbar {
    float:left;
    height: 100%;
}

.good {
    color: var(--green)
}
.neutral {
    color: var(--blue)
}
.bad {
    color:var(--red)
}
.bg_good {
    color: black;
    background-color: var(--green)
}
.bg_neutral {
    color: black;
    background-color: var(--blue)
}
.bg_bad {
    color: black;
    background-color:var(--red)
}
.pen_graph {
    width: 50%;
    height: 2%;
    float:left;
}

.seek {
    height: 60%;
    float:left;
    text-align: center;
    font-size: 150%;
}
#seek1 {
    width: 60%;
}
#seek2 {
    width: 40%;
}
.seek option {
    text-align: center;
}

/* New Season */
#new_season {
    background-color: black;
    width: 100%;
    height: 100%;
    float:left;
    color:white;
}

#ns_nav {
    background-color: black;
    width: 100%;
    height: 10%;
    float:left;
}
#ns_nav button {
    width: 25%;
    height: 60%;
    margin-top: 2%;

}
#ns_nav button:hover {
    background-color: var(--blue);
}
#ns_offers {
    background-color: var(--red);
}

#ns_content {
    background-color: black;
    width: 70%;
    margin-left: 15%;
    height: 90%;
    float:left;
}
#ns_content div {
    height: 2.5%;
    float: left;
    text-align: center;
}
#ns_content h3 {
    margin: 0;
    font-size: 70%;
    text-align: center;
    line-height: 200%;
}
#ns_content h2 {
    margin:0;
    font-size: 100%;
    text-align: center;
}
#ns_content h1 {
    margin:0;
    text-align: center;
}
#ns_content p {
    float:left;
    text-align:center;
    height: 2%;
    font-size: 80%;
    margin: 0;
    margin-top:1%;
}
#dataright div {
    height: 2.5%;
    float: left;
    text-align: center;
}
#dataright h3 {
    margin: 0;
    font-size: 70%;;
    text-align: center;
    line-height: 200%;
}
#dataright p {
    font-size: 100%;
    margin: 0;
}
#dataright h2 {
    margin:0;
    font-size: 100%;
}

.robut {
    width: 100%;
    height: 20%;
    border-color: var(--blue);
    background-color: black;
    color: white;
    text-align: left;
    float:left;
}
.robut:hover {
    border-color: var(--red);
}
.robut:active {
    border-color: var(--red);
    background-color: gray;
}
.robutel {
    height: 60%;
    margin: 0;
}
.loadbut {
    width: 50%;
    margin-left: 25%;
    height: 10%;
}
.loadbut:hover {
    background-color: var(--blue);
}
.loadbut:active {
    background-color: var(--red);
}

@keyframes prompt-anim {
    0% {opacity: 0}
    25% {opacity: 0.6}
    75% {opacity: 0.6}
    100% {opacity: 0}
}

.sg_prompt {
    background-color: var(--red);
    width: 60%;
    position: absolute;
    z-index: 10;
    top: 0;
    animation-name: prompt-anim;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    left: 20%;
    text-align: center;
}

.hotkeys {
    background-color:gray;
    width: 79%;
    height: 79%;
    border-width: 1%;
    border-style: solid;
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    text-align: center;
    font-size: 80%;
}

.closebutton {
    width: 5%;
    position:absolute;
    left: 95%;
    height: 5%;
    background-color: transparent;
    border: 0;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: white;
}
.closebutton:hover {
    color: var(--red)
}

.nc-top-but {
    width: 50%;
    height: 100%;
    font-size: 80%;
    background-color: black;
    color: white;
    border-color: white;
}
.nc-top-but:hover {
    background-color: #00B5FF;
}
.nc-top-but:focus {
    background-color: #3EF278;
}

.mc-match-div {
    width: 100%;
    height: 3%;
    font-size: 150%;
    line-height: 100%;  
}
.mc-match-div:hover {
    background-color: lightgrey;
}
.mc-match-div:focus {
    background-color: gray;
}
.mc-team-div {
    width: 40%;
    height: 100%;
    float:left;
}
.mc-result-div {
    width: 20%;
    height: 100%;
    float:left;
}

.mc-results-box {
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

.mc-search {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.mc-old-left {
    height: 3%;
    width: 100%;
    line-height: 100%;
    float:left;
    font-size: 150%;
    margin-top: 1%;;
}
.mc-old-left:hover {
    background-color: lightgray;
}
.mc-old-left:focus {
    background-color: grey;
}
.mc-old-team {
    width: 70%;
    float:left;
    height: 100%;
}
.mc-old-year {
    width: 30%;
    float:left;
    height: 100%;
}

.mc-old-right {
    color: white;
    width: 80%;
    height: 3%;
    font-size: 80%;
    float:left;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
.mc-old-results {
    width: 80%;
    height: 3%;
    font-size: 80%;
    float:left;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}