:root {
    --green:#3EF278 ;
    --blue:#00B5FF;
    --red:#FF9100 ;
}

body {
    margin: 0;
    border: 0;
    padding: none;
    background-color: black;
    font-family:monospace;
}

.gametitle {
    color:white;
    position: absolute;
    top:10%;
    width: 50%;
    left: 25%;
    text-align: center;
}
.gametitle:hover {color: var(--red);}

#mainframe {
    background-color:black;
    width: 50vw;
    height: 50vw;
    left: 25vw;
    position: relative;
    font-size: 1vw;
}

@media (max-width: 1000px) {
    #mainframe {
        position:relative;
        height:100vw;
        width:100vw;
        left: 0;
        font-size: 2vw;
    }
}

button {
    font-size: 100%;
    font-family: monospace;
}

/* Login box */
#loginbox {
    background-color: black;
    width: 100%;
    height: 100%;
}

.loginbox {
    width: 32%;
    height: 32%;
    position:absolute;
    border-color: white;
}

.loginbox:hover {background-color: var(--blue);}
.loginbox:active {background-color: var(--green);}

#newgame {left: 2%; top: 37%;}
#loadgame {left: 34%; top: 37%;}
#exitgame {left: 66%; top: 37%;}

/* Menu Box */
#menubox {
    background-color: black;
    width: 15%;
    height: 100%;
    float:left
}

.menubutton {
    width: 90%;
    height: 10%;
    float:left;
    margin-left: 5%;
    margin-top:  5%;
}

#runfixture {background-color: var(--red);}
#runfixture:hover {background-color: var(--blue);}
#runfixture:active {background-color: var(--green);}

.menubutton:hover {background-color: var(--blue);}
.menubutton:active {background-color: var(--green);}

#infofield {
    width: 85%;
    height: 15%;
    float:left;
    color:white;
    background-color: black;
}

#teamname {
    width: 25%;
    height:25%;
    float:left;
    margin:0;
    line-height: 200%;
}

#teamname:hover {
    color: purple;
    background-color: blue;
}

#powerbox {
    width: 50%;
    background-color:var(--blue);
    height: 25%;
    float:left;
}

#powerbox p {
    float:left;
    height: 100%;
    text-align: center;
    line-height: 100%;
    margin: 0;
    color:black;
}

#pbox1 {background-color: var(--red); width: 33%}
#pbox2 {background-color: var(--green); width: 33%}
#pbox3 {background-color: var(--blue); width: 33%}

#manager {
    width: 100%;
    height: 25%;
    float:left;
    margin: 0;
    line-height: 200%;
}

#season {
    width: 100%;
    height: 25%;
    float:left;
    margin: 0;
    line-height: 200%;
}

#databox {
    width: 85%;
    height: 40%;
    float:left;
    background-color: black;
}

#dataleft{
    width: 50%;
    float:left;
    height:100%;
    background-color:black;
}

#dataright{
    width: 50%;
    float:left;
    height:100%;
    background-color: black;
}

#matchbox {
    width: 85%;
    height: 45%;
    float:left;
    background-color: white;
    color:white;
}

#pitchbox {
    float:left;
    width: 59%;
    height: 98%;
    margin:0.5%;
}

#matchfield {
    float:left;
    background-color:grey;
    width: 100%;
    height: 60%;
}

.fieldpart {
    float:left;
    height: 98%;
    margin: 0.5%;
    background-color: black;
}

#fieldleft {width: 32%;}
#fieldcenter {width: 33%;}
#fieldright {width:32%;}

.teamsbox {
    background-color: grey;
    float:left;
    top: 0%;
    width: 100%;
    height:20%;
    font-size: 80%;
    line-height: 300%;
}

#team1box h2 {
    width: 50%;
    float:left;
    text-align: center;
}

#team2box h2 {
    width: 50%;
    float:left;
    text-align:center;
}

#eventbox {
    text-align: center;
    float:left;
    width: 40%;
    background-color: grey;
    height: 100%;
    font-size: 70%;
    line-height: 200%;
}
#eventbox p {
    text-align: center;
    height: 5%;
    float:left;
    width: 100%
}

.ebgroup1 {
    display:none;
}

#match_runner {
    width: 100%;
    height: 10%;
}

#tactic_selection {
    width: 40%;
    height: 10%;
    margin: 0;
    border: 0;
    float:left;
    text-align: center;
}

#start_match {
    width: 60%;
    height: 10%;
    float:left;
}
#start_match:hover {
    background-color: var(--blue);
}
#start_match:active {
    background-color: var(--red);
}

.statbox {
    background-color: var(--green);
    width: 100%;
    height: 5%;
    float:left;
}

.statbar {
    float:left;
    height: 100%;
}